<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GameFarmProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Main.ma</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainFrontController</servlet-name>
    <servlet-class>mainAction.MainFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrontController</servlet-name>
    <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminGoodsFrontController</servlet-name>
    <servlet-class>adminGoodsAction.AdminGoodsFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodsFrontController</servlet-name>
    <url-pattern>*.ag</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMemberFrontController</servlet-name>
    <servlet-class>adminMemberAction.AdminMemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMemberFrontController</servlet-name>
    <url-pattern>*.am</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPaymentFrontController</servlet-name>
    <servlet-class>adminPaymentAction.AdminPaymentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPaymentFrontController</servlet-name>
    <url-pattern>*.ap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>memberAction.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityFrontController</servlet-name>
    <servlet-class>communityAction.CommunityFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityFrontController</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsFrontController</servlet-name>
    <servlet-class>goodsAction.GoodsFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsFrontController</servlet-name>
    <url-pattern>*.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnaFrontController</servlet-name>
    <servlet-class>qnaAction.QnaFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaFrontController</servlet-name>
    <url-pattern>*.qn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentFrontController</servlet-name>
    <servlet-class>paymentAction.PaymentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentFrontController</servlet-name>
    <url-pattern>*.pa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsFrontController</servlet-name>
    <servlet-class>newsAction.NewsFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFrontController</servlet-name>
    <url-pattern>*.nw</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>resource</description>
    <res-ref-name>jdbc/Mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>